body {
    max-width: 120em;
    background: white;
}

.site {
    max-width: 76.25em;
    margin: 0 auto;
    overflow: hidden;

  
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    // width: 76.25em;
    // margin: 0 auto;
}

.site-logo {
    padding: 0;
    width: 7.75em;
    flex: 0 1 50%;
    align-items: flex-start;
    
}

.site-logo a{
    font-family: "Roboto";
    font-size: 2em;
    font-style: normal;
    line-height: 2.3125em;
    letter-spacing: 0em;
    color:  #6A0B0B;
    text-decoration: none;
    font-weight: bolder;
}

#first-hr {
    
    width: 120.56em;
    height: 0px;
    margin-left: -22.4375em;
    margin-top: 0.5em 0;
    border: 1px solid #DDDDDD;
    z-index: 2;
}

#second-hr {
    width: 120.56em;
    height: 0px;
    margin-top: 0.5em 0;
    margin-bottom: 2px;
    border: 1px solid #DDDDDD;
    z-index: 2;
}

.site-header-links {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
    justify-content: flex-end; 
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5625em;
    height: 2.5625em;
    background: #EBEBEB;
    margin-right: 0.5em;
    border-radius: 0.3125em;
}

.header-icons-btn {
    height: 2.5625em;
    width: 11.375em;
    border-radius: 0.3125em;
    background-color: black;
    color: white;
}

.header-icons i{
    color: black;  
}

.weather-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 40%;
}

.weather-box p {
    padding: 0 0.625em;
}

.weather-box p span {
    margin-left: -2px;
    font-size: 0.75em;
    vertical-align: super;
}

.weather-box hr { 
    width: 0.75em;
    height: 0px;
    border: 1px solid #DDDDDD;
    transform: rotate(-90deg);
    margin: 1em 1.375em;   
}

.card-media-box {
    position: relative;
    z-index: 1;
}

.card-box {
    position: absolute;
    max-width: 46.3125em;
    min-height: 33.9em;
    left: 0px;
    top: 0;
    background: #D24545;
    background-blend-mode: multiply, normal;
    border-radius: 0px 0.3125em 0.3125em 0px;
    margin: -3.125em 0 0 -21.875em;
    z-index: 5;
}

.media {
    position: relative;
    z-index: 6;
}

.media span{
    position: absolute;   
    bottom: 0;
    left: 0; 
    color: black;
    background: white;
    padding: 0.625em;
    border-bottom-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.1875em;
    margin-bottom: 0.375em;
    
}

.media span i {
    margin-right: 7px;
    color: red;
}

.media::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 43.4375em;
    height: 28.125em;
    z-index: 1;
}

.site-main {
    display: flex;
    flex-wrap: wrap;
}

.site-home-page {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.site-home-page .wrapper {
    // width: 76.25em;
    // margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.site-home-page aside {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 38%;
    margin-left: 2.5em;
    margin-top: 3.125em;
}

.site-home-page aside h3 {
    font-size: 1em;
    line-height: 1.1875em;
    font-weight: 800;
}

.site-home-page aside div {
    width: 28.75em;
    height: 3.125em;
    border-left: 0.375em solid #D24545;
    padding-left: 1em;
    padding-bottom: 1em;
}

.site-home-page aside hr {
    border: 1px solid #DDDDDD;
    width: 28.75em;
    height: 0px;
    margin: 1.25em 0 0.625em 0;
} 

.site-home-page aside div p {
    font-size: 0.875em;
    line-height: 1.125em;
    padding-bottom: 0;
    margin: 0.375em 0;
}

.site-home-page aside div span a {
    font-size: 1.25em;
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 1.625em;
    
}
.site-home-page aside span {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    justify-content: flex-end;
}

.site-home-page aside a {
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.home-page-article {
    flex: 0 1 56%;
    margin-top: 3.125em;
}

.home-page-article h1 {
    font-weight: 800;
    font-size: 2em;
    line-height: 2.5625rem;
    padding-top: 4.375rem;
    color: #000000;
}

.home-page-article button{
    height: 2.8125em;
    width: 7.5em;
    color: white;
    font-weight: 500;
    background-color: black;
    border-radius: 0.3125em;
}

.home-page-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 14.0625em 14.0625em;
    grid-gap: 0.5em;
    margin-top: 3.125em;
    // margin-left: 21.875em;
    
}

.home-page-section .news {
    display: flex;
    align-items: center;
    width: 31.25em;
    height: 13.75rem;
    border: 1px solid #DFDFDF;
    border-radius: 0.3125em;
    padding: 1.5em;   
}


.home-page-section .news-media{
    width: 34.5em;
    height: 28.19em;
    position: relative;
    overflow: hidden;
    
}

.home-page-section .news-media .new-media img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.home-page-section .news-media .new-media h6{
   
    position: absolute;   
    top: 0;
    left: 0; 
    color: black;
    background: white;
    padding: 0.625em;
    border-bottom-right-radius:   5px;
    font-style: normal;
    font-weight: 800;
    font-size: 1em;
    line-height: 1.1875em;
    z-index: 2;
}

.home-page-section .news-media .new-media h6 i {
    color: red;
    margin-right: 0.4375em;
}


.home-page-section .news:hover {   
    background: #D24545;   
}

.home-page-section .news-change-box {
    display: flex;
    width: 28.25em;
    height: 10.75em;
    
    align-content: center;
    flex-wrap: wrap;  
}

.home-page-section .news-change-box span {
    font-size: 1.25em;
    line-height: 1.625em;
    margin-left: 1.5em;
    font-weight: 600;   
}

.home-page-section .news-change-box p {
    font-size: 0.875em;
    line-height: 1.3125em;
    padding: 0.625em 0 0 1.5em;
}

.home-page-section .news-change-box:hover {
    border: 1px solid #FFFFFF;
    border-radius: 0.3125em;
    color: #FFFFFF;  
}


/*************    Footer   ************/

.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-footer-nav-wrapper {
    background: #D24545; 
}

.site-footer-nav {
    display: flex;
    flex: 0 1 100%;
    align-items: center;
    justify-content:space-between;
    min-height: 9.375em;
    color: #FFFFFF;
    
}

.site-footer-nav p {
    padding: 0;
    flex: 0 1 10%;
    font-size: 1em;
    line-height: 1.1875em;
}

.site-footer-nav .circle-l{
    flex: 0 1 6%;
    display: flex;
    width: 4.69em;
    height: 4.69em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    margin-right: 0.625em;
}

.site-footer-links {
    display: flex;
    flex: 0 1 15%;
    align-items: center;
}


.site-footer-links i{
    padding: 0;
    margin: 0;
    color: black;   
}

.footer-nav ul li a{
   color: white;
}

.site-footer h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25em;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}