.site-nav {
    text-align: left;
    padding-top: 0.5em;
    flex: 0 1 60%;
    padding-left: 0;
    
    ul {
        display: flex;
        padding: 0;

        li {
            display: block;
            text-align: left;
            
            a {
                color: black;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                text-decoration: none;
                font-size: 1em;
                line-height: 1.19em;

                &:focus {
                    color: rgba(0, 0, 0, 1.5);
                    font-weight: 900;
                }
            }
        }

        hr {
            width: 0.75em;
            height: 0px;
            border: 1px solid #DDDDDD;
            transform: rotate(-90deg);
            margin: 1em 1.375em;
        }	
    }
    
}











