.news-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 76.25em;
    margin: 0 auto;

    .hr-top {
        width: 76.25em;
        height: 0.25em;
        background: #D24545;
        border-radius: 0.3125em;
        margin-top: 3.125em;
    }

    h3 {
        flex: 0 1 100%;
        padding: 0;
        font-style: normal;
        font-weight: 800;
        font-size: 1.25em;
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }

    .last-news {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-around;
        flex: 0 1 50%;

        .last-news-box {
            flex: 0 1 45%;

            span {
                font-weight: 600;
                font-size: 1.25em;
                line-height: 1.625em;
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 0.875em;
                line-height: 1.125em;
            } 
        }
    }

    .big-news {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 44%;

        span {
            font-weight: 600;
            font-size: 1.25em;
            line-height: 1.625em;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 0.875em;
            line-height: 1.125em;
        }

        .second {
            font-style: normal;
            font-weight: normal;
            font-size: 1.125em;
            line-height: 1.5em;
        }

        a {
            text-decoration: none;
            color: black;
            font-style: normal;
            font-weight: bold;
            font-size: 1em;
            line-height: 1.1875em;
            margin-right: 0.625em;
        }

        img {
            width: 36.875em;
            height: 24.688em;
        }
    }

}